# Dotfiles y dotfolders (ignorar todo salvo excepciones)
.*
!.gitignore
!.env.example
!.eslintrc.*
!.eslintignore
!.prettierrc
!.prettierrc.*
!.prettierignore
!.github/

# Dependencias
node_modules

# Producción
dist
dist-ssr
build

# Testing
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Sistema Operativo
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Typescript y Node.js
*.tsbuildinfo
*.pid
*.seed